/* Selects the html and body elements */
html, body {
  /* Removes the margin around the html and body elements */
  margin: 0;
  /* Removes the padding inside the html and body elements */
  padding: 0;
}

/* Selects the canvas element */
canvas {
  /* Makes the canvas element display as a block-level element */
  display: block;
}